<div class="form-container container-fluid ">
    <div class="form ms-auto me-auto mt-5 border" id="login">
        <!-- <div class="form-header position-relative">
            <div class="circles-header d-flex flex-row-reverse">
                <div class="rounded-circle bg-danger ms-1" style="height: 12px; width: 12px;"></div>
                <div class="rounded-circle bg-warning ms-1" style="height: 12px; width: 12px;"></div>
                <div class="rounded-circle bg-success ms-1" style="height: 12px; width: 12px;"></div>
            </div>
        </div> -->
        <div class="form-body ">
            <h3 class="fw-bolder">
               Lupa Kata Sandi
            </h3>
            <form id="form-forgot-password">
                <div class="form-item mb-3">
                    <label for="email" class="form-label">Masukkan Email Akun :  </label>
                    <input type="text" name="email" id="email" class="form-control" required>
                </div>

                <button class="btn btn-success" type="submit">Konfirmasi</button>
            </form>      
        </div>
   
</div>
<script src="/js/forgot-password.js" type="module"></script>