<script src="js/index.js" type="module"></script>

<div class="container-fluid" id="jumbotron">
    <div class="jumbotron">
        <div class="jumbotron-content">
            <div class="name ">Aplikasi Peminjaman Surat Tanah</div>
            
            <div class="role">
                <div class="greeting text-warning">Kementerian Agraria dan Tata Ruang/Badan Pertanahan Nasional (ATR/BPN) Kabupaten Simalungun</div>
            </div>

            <div class="about-me">Aplikasi ini digunakan untuk membuat jadwal konsultasi terkait layanan pertanahan di lingkungan Kantor Pertanahan Kabupaten Simalungun</div>

            <div class="jumbotron-btn mt-3">
                <button class="btn" id="btn-tambah-pengajuan" >Tambah Pengajuan</button>
            </div>
        </div>
        <div class="jumbotron-sosmed  d-flex">
            <div class="sosmed me-3">
                <a href="https://wa.me/6281378720359"><i class="fab fa-whatsapp"></i></a>
            </div>
            <div class="sosmed me-3">
              <a href="https://www.facebook.com/kantahkabsimalungun"><i class="fab fa-facebook"></i></a>
          </div>
            <div class="sosmed me-3">
                <a href="https://x.com/bpnsimalungun_"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="sosmed me-3">
                <a href="https://www.instagram.com/kantahkabsimalungun/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>  
        <!-- <div class="jumbotron-img position-absolute bottom-0 end-0">
              
          <img src="img/bpn-logo.png">
      </div> -->
        
    </div>
    
</div>







