<div class="form-container container-fluid ">
    <div class="form ms-auto me-auto mt-5 border">
        <!-- <div class="form-header position-relative">
            <div class="circles-header d-flex flex-row-reverse">
                <div class="rounded-circle bg-danger ms-1" style="height: 12px; width: 12px;"></div>
                <div class="rounded-circle bg-warning ms-1" style="height: 12px; width: 12px;"></div>
                <div class="rounded-circle bg-success ms-1" style="height: 12px; width: 12px;"></div>
            </div>
        </div> -->
        <div class="form-body ">
            <h3 class="fw-bolder">
               List Peminjaman
            </h3>
            <div class="table-container">
                <section class="header">
                    <div class="items-controller">
                        <div class="form-item mb-3 date-container">
                            <div class="row">
                                <div class="col">
                                    <label for="search" class="form-label">Search :  </label>
                                    <input type="text" name="" id="search" placeholder="search" class="form-control">
                                
                                </div>
                                <div class="col">
                                    <label for="subdistrict" class="form-label">Sorted By : </label>
                                    <select id="subdistrict" name="subdistrict" class="form-control" required>
                                        <option value="">Pilih...</option>
                                        <!-- Isi dari pilihan kecamatan -->
                                    </select>
                                
                                </div>
    
                                <div class="col">
                                    <label for="ward" class="form-label">Urutan :</label>
                                    <select id="ward" name="ward" class="form-control" required>
                                        <option value="">Pilih...</option>
                                        <!-- Isi dari pilihan kelurahan -->
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="subdistrict" class="form-label">Show : </label>
                                    <select name="" id="itemperpage" class="form-control">
                                        <option value="">Pilih...</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="08" selected>08</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <!-- Isi dari pilihan kecamatan -->
                                    </select>
                                
                                </div>
                                <!-- <div class="col"></div>
                                    <label class="form-label">Show</label>
                                    <select name="" id="itemperpage" class="form-control">
                                        
                                    </select>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="search">
                        <h5>Search</h5>
                        <input type="text" name="" id="search" placeholder="search">
                    </div> -->
                    

                </section>
                <section class="field overflow-x-auto">
                    
                    <table>
                        <thead>
                            <tr>
                              <!-- <th><input type="checkbox" name="" id="selectAll"></th> -->
                              <th>No.</th>
                              <th>Kelurahan</th>
                              <th>Kecamatan</th>
                              <th>No. Berkas</th>
                              <th>No. Hak</th>
                              <th>Tipe Hak</th>
                              <th>Jenis</th>
                              <th>Pelayanan</th>
                              <th>Keterangan</th>
                              <th>Waktu</th>
                              <th>Status</th>
                              <th>User</th>
                              <th>History</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            
                          </tbody>
                    </table>
                    <div class="bottom-field">
                        <ul class="pagination">
                          <li class="prev"><a href="#" id="prev">&#139;</a></li>
                            <!-- page number here -->
                          <li class="next"><a href="#" id="next">&#155;</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
   
    </div>

    <script src="/js/table.js"></script>