<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/bpn-logo.png" alt="Logo BPN" class="img-fluid" style="width: 200px;">
            <h1 class="display-4">ATR-BPN Simalungun</h1>
            <p class="lead">Kementerian Agraria | Badan Pertanahan Nasional</p>
        </div>
    </div>
</div>