<div class="form-container container-fluid ">
    <div class="form ms-auto me-auto mt-5 border" id="login">
        <div class="form-body ">
            <h3 class="fw-bolder">
               Reset Kata Sandi
            </h3>
            <hr>
            <form id="form-reset-password">
                <div class="form-item mb-3">
                    <label for="email" class="form-label">Masukkan Kata Sandi Baru : </label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <div class="form-item mb-3">
                    <label for="email" class="form-label">Konfirmasi Kata Sandi : </label>
                    <input type="password" name="confirm-password" id="confirm-password" class="form-control" required>
                </div>


                <button class="btn btn-success" type="submit">Konfirmasi</button>
            </form>      
        </div>
   
</div>
<script src="/js/reset-password.js" type="module"></script>