.form-container {
    padding: 78px 0;
    width: 100%;
    background: #f8f4f4;
    min-height: 100vh;
}

.form {
    width: 95%;
    /* max-width: 1500px; */
    /* margin: 0 auto; */
    /* rgba(173, 181, 189, 0.03);  */
    /* background: rgba(173, 181, 189, 0.03); */
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.form-header {
    padding: 10px 15px;
}

.form-body {
    background: white;
    padding: 2rem 2.5rem;
}

.circles-header rounded-circle {
    width: 50px;
    height: 50px;
}

.form-body form {
    margin-top: 1.5rem;
}

.form-body h3 {
    /* text-align: center; */
    padding-bottom: 0.5rem;
}

.form-label {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin-bottom: 2px;
}

.form-body .form-control {
    /* background: #f0f0f0; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    font-size: 12px;
    color: #000000;
}

.btn-warning {
    color : white;
}

.form-body .form-control:focus {
    box-shadow: none;
    box-shadow: 0 0 0 0.2rem #5e80b3;
    border: none;
}

.form-body .btn{
    font-size: 12px;
    height: 40px;
}



/* Edit placeholder */
.form-body .form-control::placeholder {
    /* color: #D9D9D9; */
    opacity: 0.3;
}

/* Edit check-input */
.form-check-input {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    /* Center secara vertical  */
    /* margin-top: 0.3rem; */
}

.form-check-input:focus {
    box-shadow: none;
    box-shadow: 0 0 0 0.2rem #000000;
    border: none;
}

.form-check-label {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}

@media only screen and (max-width: 482px) {
    .form-body {
        /* background: #2c3138; */
        /* width: 95%; */
        padding: 2rem 1.5rem;
    }
}