<nav id="navbar" class="navbar navbar-expand-lg position-fixed z-2" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/bpn-logo.png" alt="Bootstrap" width="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <% if (title === 'Home') { %>
                            <strong class="text-light">Home</strong>
                        <% } else { %>
                            Home
                        <% } %>
                    </a>
                </li>
                <li class="nav-item" id="nav-pengajuan">
                    <a class="nav-link" href="/pengajuan">
                        <% if (title === 'Pengajuan') { %>
                            <strong class="text-light">Pengajuan</strong>
                        <% } else { %>
                            Pengajuan
                        <% } %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/peminjaman">
                        <% if (title === 'Peminjaman') { %>
                            <strong class="text-light">Peminjaman</strong>
                        <% } else { %>
                            Peminjaman
                        <% } %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pengembalian">
                        <% if (title === 'Pengembalian') { %>
                            <strong class="text-light">Pengembalian</strong>
                        <% } else { %>
                            Pengembalian
                        <% } %>
                    </a>
                </li>

                <li class="nav-item" id="li-berita-acara">
                    <a class="nav-link" href="/berita-acara">
                        <% if (title === 'Berita Acara') { %>
                            <strong class="text-light">Berita Acara</strong>
                        <% } else { %>
                            Berita Acara
                        <% } %>
                    </a>
                </li>
              
              
                <li class="nav-item dropdown" id="li-basis-data">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Basis Data
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pengguna">Pengguna</a></li>
                        <li><a class="dropdown-item" href="/penandatangan">Penandatangan</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
          </ul>
          
          <!-- Buat login dan register -->
          <div class="ms-auto">
              <ul class="navbar-nav" id="navbar-right">
                <li class="nav-item dropdown profile-settings">
                  <span class="profile-picture">
                      <img src="/img/profile.png" class="rounded-circle" alt="profile" width="30px">
                  </span>
                  <a class="nav-link dropdown-toggle ps-3 pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="profile-name">
                          <!--.User-->${username}
                      </span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><button class="dropdown-item" href="/profile/">My Profile</button></li>
                      <li><button class="dropdown-item" id="btn-logout">Logout</button></li>
                  </ul>
              </li>
              
              </ul>
              
          </div>

           

          
      </div>
  </div>
  </nav>

  <!-- <nav id="navbar" class="navbar navbar-expand-lg " data-bs-theme="dark"></nav> -->