<nav class="navbar navbar-expand-lg bg-body-tertiary my-0 py-0" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="img/bpn-logo.png" alt="Logo" width="30"  class="d-inline-block align-text-top me-2">    
        ATR/BPN Simalungun
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav my-0 py-0">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/pengajuan">Pengajuan</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="about">Pengiriman</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="contact">Pengembalian</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Denda
            </a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="#">Rusak</a></li>
              <li><a class="dropdown-item" href="#">Hilang</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Berita Acara  
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Rusak</a></li>
              <li><a class="dropdown-item" href="#">Hilang</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>